body {
  background: linear-gradient(#dad7dc, #a3b18a);
  background-size: contain;
  background-attachment: fixed;
  align-content: center; /*ALINEAR ITEMS AL CENTRO*/
}

.card1 {
  width: 500px;
  height: 500px;
  background-color: #02be60;
  align-content: center; /*ALINEAR ITEMS AL CENTRO*/
  border-radius: 50px;
}
.titulo {
  color: #000000;
  font-family: Century Gothic;
  font-size: 3rem;
}
